head
  meta(charset='utf-8')
  title web-warriors
  link(rel='stylesheet' href='/css/chat.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
input#click(type='checkbox')
label(for='click')
  i.fab.fa-facebook-messenger
  i.fas.fa-times
.wrapper
  .head-text
    | Let&apos;s chat? - Online
  .chat-box
    .desc-text
      | Please select below categories to resolve your queries.
    form(action='#' class="queries")
      .field
        // <label for="funding query" style="font-size: 2rem; color: aqua;"></label>
        each c in response
          input#query( style='height: 2.8rem; width: 20.5rem;font-size: 1rem;' value=`${c.query}` readOnly)
          input#query( style='height: 2.8rem; width: 20.5rem;font-size: 1rem;' value=`${c.solution}` readOnly)
        
         
          button(type='submit' style='margin-top:1rem;')
            a(href=`https://wa.me/91${c.phone}`) whatsapp 
.answer
  h3#solution() wait for some times
script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
script(src="/js/chat.js")
