head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Document
  link(rel='stylesheet' href='/css/page.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/fontawesome.min.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
h1.heading Update here
.content
  form.create
    input#Sid(type='number' name="Sid" value=Sid)
    input(type='submit' value='Select')
script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js") 
script(src="/js/updateStartup.js") 