@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Oswald:wght@500&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Rubik:wght@300;400;500&display=swap');

:root{
    --green:#00E77F;
    --white:#fff;
    --light-white:#aaa;
    --black: #3d3d3d;
    --light-bg:#4b4b4b;
}

body{
    background-image: url('/images/3.jpg');
    background-size: cover;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: .2s linear;
    text-decoration: capitalize;
}

*::selection{
    background-color: var(--white);
    color: var(--black);
}

html{
    font-size: 62.7%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 8rem;
}

::-webkit-scrollbar-track{
    height: .5rem;
    width: 1rem;
}

::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: var(--green);
}


section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background-color: var(--light-bg);
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    padding:1rem 3rem ;
}

.btn:hover{
    background-color: var(--white);
    color: var(--black);
}

.heading{
    margin-top:28rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
}

.heading1{
    margin-top:0rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--green);
}

.heading span{
    color: #00E77F;
}

.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
    background-color: var(--black);
}

.header .flex{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .flex .logo{
    font-size: 2.5rem;
    color: var(--white);
}

.header .flex .navbar a{
    margin-left: 2rem;
    color: var(--light-white);
    font-size: 2rem;
}

.header .flex .navbar a:hover{
    color: green;
}

#menu-btn{
    cursor: pointer;
    color: var(--white);
    font-size: 2.5rem;
    display: none;
}

.header .flex .navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.heading{
    margin-top:10rem;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 4rem;
    color: var(--white);
}

form{
    position: relative;
    display: inline-flex;
    margin-left: 8rem;
    width: 85%;
    height: 100%;
	flex-shrink: 0;
	flex-direction: column;
	transition: right 0.5s;
    text-align: center;
}

input[type=text]{
	display:block;
    position: relative;
	border: 4px solid #ffffff;
	padding: 12px;
    margin-bottom: 15px;
    width: 100%;
 	box-sizing: border-box;
    font-size: 17px;
    outline: none;
}

input[type=text]:hover{
    border: 4px solid #df80ff;

}

input[type=submit]{
    display:block;
    position: relative;
    border: 3px solid #df80ff;
    padding: 12px;
    margin-top: 2rem;
    margin-bottom:1rem;
    width: 100%;
    border-radius: 25px;
    background-color:#13ca3d ;
    text-align:center;
    font-size: 20px;
    color: #ffffff;
	cursor:pointer;
    outline: none;
}
	
input[type=submit]:hover{
	 background-color:#ffffff;
     color: #000000;
     font-weight: bold;
}
input[type=checkbox]{
    background-color:#df80ff;
}
#check{
    margin-top: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
}


@media (max-width:990px){
    form{
        position: relative;
        display: inline-flex;
        margin-left: 4rem;
        width: 65%;
        height: 70%;
        flex-shrink: 0;
        flex-direction: column;
        transition: right 0.5s;
        text-align: center;
    }

    .heading{
        margin-top:10rem;
        margin-bottom: 5rem;
        text-align: center;
        font-size: 3rem;
        color: green;
    }

}


@media (max-width:991px){
    html{
        font-size:55%;
    }

    .home .row .content h3{
        font-size: 8rem;
    }

    .home .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 1.5rem;
    }
    
}

@media (max-width:768px){
    #menu-btn{
        display: inline-block;
    }

    .header .flex .navbar{
        position: absolute;
        top: 99%;left: 0;right: 0;
        border-top: .1rem solid var(--light-white);
        border-bottom: .1rem solid var(--light-white);
        background-color: var(--light-bg);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    .header .flex .navbar a{
        display: block;
        margin: 2rem;
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .home .row .content h3{
        font-size: 6rem;
    }
}