
body{
    margin: 0;
    padding: 0;
    background-image: url('/images/3.jpg');
    background-size: 200%;
    background-image:linear-gradient(to right black,grey,black);
    background-repeat: no-repeat;
    font-family : Verdana,Tahoma, sans-serif;
  }
  
  .box{
    width: 380px;
    height: 500px;
    padding: 20px;
    margin: 0% auto 0;
    text-align: center;
    position: center;
    box-sizing:border-box;
    flex-direction: row;
  }
  
  .box img{
  width:100px;
    margin-top:-50px ;
    margin-bottom:50px;
  }
  
  .header {
  width: 300px;
    height: 50px;
    position:center;
    text-transform: uppercase;
  display: inline-flex;
    padding-top: 20px;
    padding-bottom: 20px;
  justify-content: space-between;
  }
  
  .header a {
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
  display: inline-flex;
    padding-left: 25px;
    padding-right: 35px;
  justify-content: center;
    cursor:pointer;
    position:center;
  }
  
  .header .active {
    color: #df80ff;
  font-weight: bold;
  position: center;
  }
  
  .header .active:after {
  position: absolute;
    border: none;
  content: "";
  }
  
  #errorMsg{
    color:red;
    text-align: center;
    font-size: 12px;
    padding-bottom: 20px;
  
  }
  
  .content{
    margin-top: 12px;
    display: inline-flex;
    overflow: hidden;
  }
  
  form {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100%;
  flex-shrink: 0;
  flex-direction: column;
  transition: right 0.5s;
  }
  
  .signup a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
  
  }
  
  .extend form {
  right: 100%;
  }
  
  input[type=text], input[type=password], input[type=email]{
  display:block;
    position: relative;
  border: 4px solid #ffffff;
  padding: 12px;
    margin-bottom: 15px;
    width: 100%;
   box-sizing: border-box;
    font-size: 17px;
    outline: none;
  
    
  }
  
  input[type=text]:hover,  input[type=password]:hover, input[type=email]:hover,input[type=number]:hover{
    border: 3px solid #df80ff;
  
  }
  
  input[type=submit]{
    display:block;
    position: relative;
    border: 5px solid #df80ff;
    padding: 12px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 25px;
    background-color:#600080 ;
    text-align:center;
    font-size: 20px;
    color: #ffffff;
  cursor:pointer;
    outline: none;
  }
  
  input[type=number]:hover{
   background-color:#ffffff;
     color: #000000;
     font-weight: bold;
  }
  input[type=checkbox]{
    background-color:#df80ff;
  }
  #check{
    margin-top: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
  }
  
  .home .video-container video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
footer{
  background:#333;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  background-color: #333;
}

.footer .box-container .box{
  padding: 1rem 0;
  flex: 1 1 25rem;
}

.footer .box-container .box h3{
  font-size: 2.5rem;
  padding: .7rem 0;
  color: #fff;
}

.footer .box-container .box p{
  font-size: 1.5rem;
  padding: .7rem 0;
  color: #eee;
}
.footer .box-container .box a{
  display: block;
  font-size: 1.5rem;
  padding: .7rem 0;
  color: #eee;
}

.footer .box-container .box a:hover{
  color: var(--orange);
  text-decoration: underline;
}

.footer .credit{
  text-align: center;
  padding: 2rem 1rem;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: normal;
  color: #fff;
  border-top: .1rem solid rgba(255,255,255,.2);
}

.footer .credit span{
  color: var(--orange);
}

.nav-item{
  font-size: 12px;
}

